<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    body{
        background-color: aqua;

    }  
    .container{
        padding-left: 600px;
    
        padding-top: 200px;
        padding-bottom: 200px;
        
        
    }  
    


    
    </style>
</head>
<body>
    
    <form method="POST">
        <div class="container">
        <h1>Add Post</h1>
        <label for="">Title:</label><br>
        <input name="title"type="text"><br>
        <label for="">Content:</label><br>
        <textarea name="content" rows="5"></textarea><br>
        <label for="">Slug:</label><br>
        <input name="slug"type="text"><br><br>
        <button>Submit</button>
        </div>
    </form>
    
</body>
</html>