<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            padding-left: 600px;
            padding-top: 200px;
            padding-bottom: 200px;
        }
        body{
            background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTy2KSxrMjJOagJPz6sxKFUVjxY4EJJBHuECw&usqp=CAU");
            background-size: cover;
        }
    </style>

</head>
<body>
    <div class="container">
    <form method="POST">
    <h1>LOGIN</h1><br>
    <label for="">Username:</label><br>
    <input type="text"name="username"><br>
    <label for="">Password:</label><br>
    <input type="password"name="password"><br><br>
    <button>login</button>
    </form>
    </div>
</body>
</html>