<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    .container{
        padding-left: 600px;
        padding-top: 200px;
        padding-bottom: 200px;
    }
    body{
        background-color: cornflowerblue;
    }

    </style>
</head>
<body>
    <div class="container">
    <form method="POST">
        <h2 style="color:blueviolet">REGISTRATION</h2>
        <label for="">Username:</label><br>
        <input type="text"name="username"><br>
        <label for="">Mobile:</label><br>
        <input type="text"name="mobile"><br>
        <label for="">Email:</label><br>
        <input type="text"name="email"><br>
        <label for="">Address:</label><br>
        <input type="text"name="address"><br>
        <label for="">Password:</label><br>
        <input type="password"name="password"><br><br>
        <button>Register</button>
    </form>
    </div>
    
    
</body>
</html>